* {
	font-family: 'Lato';]
	padding: 0px;
	margin: 0;
}

/*  */

h1 {
	font-weight: 100;
	font-size: 70;
	color: #FFFFFF;
	padding: 30px;
}


h2 {
	font-weight: 400;
	font-size: 25;
	text-align: center;
	color: #000000;
}

.centered {
	display: block;
	margin:auto;
}

.full_page {
	height: 100%;
}

a {
	text-decoration: none;
}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: #C44D58;
}

/* mouse over link */
a:hover {
    color: #FF6B6B;
}

/* selected link */
a:active {
    color: #4ECDC4;
}




.navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    background-color: #556270;
}

#footer {
    background-color: rgba(0,0,0,.7);
    height: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


.tracklist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #556270;
	opacity: .7;
}

.tracklist_item {
	padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.navbar_item {
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    border: 2px solid white;
} 

.navbar_item_plain {
	display: inline-block;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

#whale_image {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
	display: inline-block;
}

#show_dates {
	border: 2px solid black;
	display: block;
}

#show_dates_table {
	display: inline;
	float: right;
	border: 1px solid black;
	width: 350px; 
	height: 621px;
	margin: 10px;
}

.show_date {
	padding: 20px;
}

.elapsed_show {
	background-color: black;
	opacity: .7;
}

.venue_name {
	font-size: 20px;
	color: #C44D58;
}

.date {
	font-size: 15px;
	color: #FF6B6B;
}

.location {
	font-size: 15px;
	color: #FF6B6B;
	opacity: .5;
}




#band_name {
	display: inline;
}

#location_info {
	display: inline-block;
	color: white;
}

#page_two {
	background-image: url("../img/wavegrid/wavegrid.png");
	float: center;
}

#page_one {
	background-image: url("../img/cheap_diagonal_fabric/cheap_diagonal_fabric.png");
}

#watercolor_info {
	border: 2px solid black;
	display: inline-block;
	width: 350px; 
	/*height: 468px;*/
	margin: 20px;
}



body {
	float: center;
}